a:link {
    color: #d90c13;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #d90c13;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #d90c13;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: #d90c13;
    background-color: transparent;
    text-decoration: none;
}
#a{
	letter-spacing: 3px;
	padding:100px 135px;
	margin-top: 100px;
	margin-bottom:100px;
	font-size: 4;
}
nav {
	font-family:Railway Thin;
	position:absolute;
	top:400;
}
#gray_background{
	margin-top:50px;
	width:1300px;
}
//this one is not working correctly
div.text body{
	position:absolute;
	top:600;
	left:250;
}
h1{
	color: #01415F
}
h2{
	color: #53D1EE
}
p{
	color: #000E17;
}
