a:link {
    color: #d90c13;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #d90c13;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #d90c13;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: #d90c13;
    background-color: transparent;
    text-decoration: none;
}
#a{
	letter-spacing: 3px;
	padding:50px 50px;
	margin-top: 100px;
	margin-bottom:100px;
	font-size: 4;
}
nav {
	font-family:Railway Thin;
	position:absolute;
}
#gray_background{
	margin-top:50px;
	width:1300px;
}
#text{
	position:absolute;
	top:400px;
	left:250px;
}
h1{
	color: #01415F
}
h2{
	color: #53D1EE
}
p{
	color: #000E17;
}
body {
    font-family: Railway Thin;
    transition: background-color .5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:  #000e17;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 50px 20px 20px 25px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #fed20c;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
